.gameRules{
    display: flex;
    justify-content: center;
    width: 50%;
}
.routeContent{
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap:40px;
    align-items: center;
}